<tr class="new_schema">
    <th scope="row">
        <a href="{{isolatedSchema.schemas[3]}}">

            <span ng-if="term_labels.indexOf(isolatedSchema.schemas[0]) !== -1 && term_labels[isolatedSchema.schemas[0]] !== null">
                {{term_labels[isolatedSchema.schemas[0]]}} ({{isolatedSchema.schemas[0]}})
            </span>

            <span ng-if="term_labels.indexOf(isolatedSchema.schemas[0]) === -1 || term_labels[isolatedSchema.schemas[0]] === null">
                {{isolatedSchema.schemas[0]}}
            </span>

        </a>
    </th>
    <td>
        <span ng-if="isolatedSchema.schemas[1]!==false">{{isolatedSchema.schemas[1]}}</span>
        <span ng-if="isolatedSchema.schemas[1]===false" class="fas fa-times"></span>
    </td>
    <td>
        <span ng-if="isolatedSchema.schemas[2]!==false">{{isolatedSchema.schemas[2]}}</span>
        <span ng-if="isolatedSchema.schemas[2]===false" class="fas fa-times"></span>
    </td>
</tr>

<tr ng-repeat="field in isolatedSchema.fields">
    <th class="sub_label">

        <a href="{{field[0]}}">

            <span ng-if="term_labels.indexOf(field[0]) !== -1 && term_labels[field[0]] !== null">
                {{term_labels[field[0]]}} ({{field[0]}})
            </span>

            <span ng-if="term_labels.indexOf(field[0]) === -1 || term_labels[field[0]] === null">
                {{field[0]}}
            </span>

        </a>
    </th>
    <td>
        <span ng-if="field[1] !== false">{{field[1]}}</span>
        <span ng-if="field[1] === false" class="fas fa-times"></span></td>
    <td>
        <span ng-if="field[2] !== false">{{field[2]}}</span>
        <span ng-if="field[2] === false" class="fas fa-times"></span>
    </td>
</tr>